bootstrap/cache/
public/build/
resources/js/routes/index.ts
resources/js/routes/storage/index.ts
resources/js/wayfinder/index.ts
resources/js/ziggy.js
resources/views/mail/*
storage/

bun.lock
pnpm-lock.yaml
